* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100vw;
}



#map, #heading, #directions {
    width: 100vw;
}

#map {
    height: 83%;
    display: flex;
}

#heading {
    height: 7%;
    display: flex;
    align-items: center;
    background-color: black;
    padding: 15px 10px;
    justify-content: space-between;

}

#directions {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #c8c8c8;
}

#feedback, #title {
    display: flex;
    padding-left: 5px;
    padding-right: 5px; 
}

#feedback {
    border-radius: 4px;
    /*border: 2px solid white;*/
    padding: 5px;
    background-color: #c8c8c8;
}

#feedback:hover {
  background-color:white;
  color: black;

}

#feedback:hover h3 {
  color: black;
}

#feedback:active {
  transform: translateY(1px);
  filter: saturate(150%);
}


body {
    font-family: Garamond, ‘Book Antiqua’, Palatino, serif;
}

h1, h3 {
    font-family: Roboto, sans-serif;
}

h1 {
    color: white;
}

h3 {
    color: black;
}


a {
    text-decoration: none;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {

    body {
        font-size: 3vw;
    }

    #directions-content {
        padding: 0px 15px;
    }

    h1 {
        font-size: 5vw;
    }

}

@media only screen and (min-width: 401px) and (max-width: 500px) {

    body {
        font-size: 14px;
    }

    #directions-content {
        padding: 0px 25px;
        width: 100%;
    }

    h1 {
        font-size: 4vw;
    }

}

/* Tablet Styles */
@media only screen and (min-width: 501px) and (max-width: 960px) {
    body {
        font-size: 16px;
    }

    #directions-content {
        padding: 0px 25px;
    }

    h1 {
        font-size: 3.5vw;
    }
}
/* Desktop Styles */
@media only screen and (min-width: 961px) {

    #map {
        height: 83%;
    }

    #heading {
        height: 7%;

    }

    #directions {
        height: 10%;
    }

    body {
        font-size: 18px;
    }

    h1 {
        font-size: 2.5vw;
    }
}
